[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "==2.0.7"
click = "*"
fuzzywuzzy = "*"
#"ruamel.yaml" = "==0.14.12"
requests = "*"
pudb = "*"
coverage = "*"
prompt_toolkit = "*"
openai = "*"
chardet = "*"
toml = "*"

[dev-packages]
pylint = "*"
